In [1]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.9/site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.9/site-packages (from pyspark) (0.10.9.7)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [1]:

from pyspark.sql.types import *
from pyspark.sql.window import Window

import pyspark.sql.functions as F
from pyspark.sql.functions import udf, col

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .config("hive.metastore.uris", "thrift://172.27.1.8:9083")\
      .config("spark.sql.warehouse.dir", "/user/hive/warehouse")\
      .enableHiveSupport() \
      .getOrCreate()

Warning: Ignoring non-Spark config property: hive.metastore.uris
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/06/09 14:48:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/06/09 14:49:00 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [14]:
spark.sql("select * from retail_db.orders_avro").show()

+-----------------+-------------+--------+---------------+
|order_customer_id|   order_date|order_id|   order_status|
+-----------------+-------------+--------+---------------+
|            11599|1374710400000|       1|         CLOSED|
|              256|1374710400000|       2|PENDING_PAYMENT|
|            12111|1374710400000|       3|       COMPLETE|
|             8827|1374710400000|       4|         CLOSED|
|            11318|1374710400000|       5|       COMPLETE|
|             7130|1374710400000|       6|       COMPLETE|
|             4530|1374710400000|       7|       COMPLETE|
|             2911|1374710400000|       8|     PROCESSING|
|             5657|1374710400000|       9|PENDING_PAYMENT|
|             5648|1374710400000|      10|PENDING_PAYMENT|
|              918|1374710400000|      11| PAYMENT_REVIEW|
|             1837|1374710400000|      12|         CLOSED|
|             9149|1374710400000|      13|PENDING_PAYMENT|
|             9842|1374710400000|      14|     PROCESSING|
|             2568|1374710400000|      15|       COMPLETE|
|             7276|1374710400000|      16|PENDING_PAYMENT|
|             2667|1374710400000|      17|       COMPLETE|
|             1205|1374710400000|      18|         CLOSED|
|             9488|1374710400000|      19|PENDING_PAYMENT|
|             9198|1374710400000|      20|     PROCESSING|
+-----------------+-------------+--------+---------------+
only showing top 20 rows

In [16]:
spark.sql('Select * from retail_db.customers_avro').show()

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|     customer_street|customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
|  Brownsville|     XXXXXXXXX|       Richard|          1|     Hernandez|        XXXXXXXXX|            TX|  6303 Heather Plaza|           78521|
|    Littleton|     XXXXXXXXX|          Mary|          2|       Barrett|        XXXXXXXXX|            CO|9526 Noble Embers...|           80126|
|       Caguas|     XXXXXXXXX|           Ann|          3|         Smith|        XXXXXXXXX|            PR|3422 Blue Pioneer...|           00725|
|   San Marcos|     XXXXXXXXX|          Mary|          4|         Jones|        XXXXXXXXX|            CA|  8324 Little Common|           92069|
|       Caguas|     XXXXXXXXX|        Robert|          5|        Hudson|        XXXXXXXXX|            PR|10 Crystal River ...|           00725|
|      Passaic|     XXXXXXXXX|          Mary|          6|         Smith|        XXXXXXXXX|            NJ|3151 Sleepy Quail...|           07055|
|       Caguas|     XXXXXXXXX|       Melissa|          7|        Wilcox|        XXXXXXXXX|            PR|9453 High Concession|           00725|
|     Lawrence|     XXXXXXXXX|         Megan|          8|         Smith|        XXXXXXXXX|            MA|3047 Foggy Forest...|           01841|
|       Caguas|     XXXXXXXXX|          Mary|          9|         Perez|        XXXXXXXXX|            PR| 3616 Quaking Street|           00725|
|     Stafford|     XXXXXXXXX|       Melissa|         10|         Smith|        XXXXXXXXX|            VA|8598 Harvest Beac...|           22554|
|       Caguas|     XXXXXXXXX|          Mary|         11|       Huffman|        XXXXXXXXX|            PR|    3169 Stony Woods|           00725|
|  San Antonio|     XXXXXXXXX|   Christopher|         12|         Smith|        XXXXXXXXX|            TX|5594 Jagged Ember...|           78227|
|       Caguas|     XXXXXXXXX|          Mary|         13|       Baldwin|        XXXXXXXXX|            PR|7922 Iron Oak Gar...|           00725|
|  Pico Rivera|     XXXXXXXXX|     Katherine|         14|         Smith|        XXXXXXXXX|            CA|5666 Hazy Pony Sq...|           90660|
|      Fontana|     XXXXXXXXX|          Jane|         15|          Luna|        XXXXXXXXX|            CA|    673 Burning Glen|           92336|
|       Caguas|     XXXXXXXXX|       Tiffany|         16|         Smith|        XXXXXXXXX|            PR|      6651 Iron Port|           00725|
|       Taylor|     XXXXXXXXX|          Mary|         17|      Robinson|        XXXXXXXXX|            MI|     1325 Noble Pike|           48180|
|     Martinez|     XXXXXXXXX|        Robert|         18|         Smith|        XXXXXXXXX|            CA|2734 Hazy Butterf...|           94553|
|       Caguas|     XXXXXXXXX|     Stephanie|         19|      Mitchell|        XXXXXXXXX|            PR|3543 Red Treasure...|           00725|
|West New York|     XXXXXXXXX|          Mary|         20|         Ellis|        XXXXXXXXX|            NJ|      4703 Old Route|           07093|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+--------------------+----------------+
only showing top 20 rows

In [3]:
spark.sql("select * from retail_db.customers_avro").show(truncate=False)

24/06/09 14:49:20 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|customer_street            |customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
|Brownsville  |XXXXXXXXX     |Richard       |1          |Hernandez     |XXXXXXXXX        |TX            |6303 Heather Plaza         |78521           |
|Littleton    |XXXXXXXXX     |Mary          |2          |Barrett       |XXXXXXXXX        |CO            |9526 Noble Embers Ridge    |80126           |
|Caguas       |XXXXXXXXX     |Ann           |3          |Smith         |XXXXXXXXX        |PR            |3422 Blue Pioneer Bend     |00725           |
|San Marcos   |XXXXXXXXX     |Mary          |4          |Jones         |XXXXXXXXX        |CA            |8324 Little Common         |92069           |
|Caguas       |XXXXXXXXX     |Robert        |5          |Hudson        |XXXXXXXXX        |PR            |10 Crystal River Mall      |00725           |
|Passaic      |XXXXXXXXX     |Mary          |6          |Smith         |XXXXXXXXX        |NJ            |3151 Sleepy Quail Promenade|07055           |
|Caguas       |XXXXXXXXX     |Melissa       |7          |Wilcox        |XXXXXXXXX        |PR            |9453 High Concession       |00725           |
|Lawrence     |XXXXXXXXX     |Megan         |8          |Smith         |XXXXXXXXX        |MA            |3047 Foggy Forest Plaza    |01841           |
|Caguas       |XXXXXXXXX     |Mary          |9          |Perez         |XXXXXXXXX        |PR            |3616 Quaking Street        |00725           |
|Stafford     |XXXXXXXXX     |Melissa       |10         |Smith         |XXXXXXXXX        |VA            |8598 Harvest Beacon Plaza  |22554           |
|Caguas       |XXXXXXXXX     |Mary          |11         |Huffman       |XXXXXXXXX        |PR            |3169 Stony Woods           |00725           |
|San Antonio  |XXXXXXXXX     |Christopher   |12         |Smith         |XXXXXXXXX        |TX            |5594 Jagged Embers By-pass |78227           |
|Caguas       |XXXXXXXXX     |Mary          |13         |Baldwin       |XXXXXXXXX        |PR            |7922 Iron Oak Gardens      |00725           |
|Pico Rivera  |XXXXXXXXX     |Katherine     |14         |Smith         |XXXXXXXXX        |CA            |5666 Hazy Pony Square      |90660           |
|Fontana      |XXXXXXXXX     |Jane          |15         |Luna          |XXXXXXXXX        |CA            |673 Burning Glen           |92336           |
|Caguas       |XXXXXXXXX     |Tiffany       |16         |Smith         |XXXXXXXXX        |PR            |6651 Iron Port             |00725           |
|Taylor       |XXXXXXXXX     |Mary          |17         |Robinson      |XXXXXXXXX        |MI            |1325 Noble Pike            |48180           |
|Martinez     |XXXXXXXXX     |Robert        |18         |Smith         |XXXXXXXXX        |CA            |2734 Hazy Butterfly Circle |94553           |
|Caguas       |XXXXXXXXX     |Stephanie     |19         |Mitchell      |XXXXXXXXX        |PR            |3543 Red Treasure Bay      |00725           |
|West New York|XXXXXXXXX     |Mary          |20         |Ellis         |XXXXXXXXX        |NJ            |4703 Old Route             |07093           |
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
only showing top 20 rows

In [4]:
spark.sql("select * from retail_db.departments_avro").show(truncate=False)

+-------------+---------------+
|department_id|department_name|
+-------------+---------------+
|2            |Fitness        |
|3            |Footwear       |
|4            |Apparel        |
|5            |Golf           |
|6            |Outdoors       |
|7            |Fan Shop       |
+-------------+---------------+

In [5]:
spark.sql("select * from retail_db.orders_avro").show(truncate=False)

+-----------------+-------------+--------+---------------+
|order_customer_id|order_date   |order_id|order_status   |
+-----------------+-------------+--------+---------------+
|11599            |1374710400000|1       |CLOSED         |
|256              |1374710400000|2       |PENDING_PAYMENT|
|12111            |1374710400000|3       |COMPLETE       |
|8827             |1374710400000|4       |CLOSED         |
|11318            |1374710400000|5       |COMPLETE       |
|7130             |1374710400000|6       |COMPLETE       |
|4530             |1374710400000|7       |COMPLETE       |
|2911             |1374710400000|8       |PROCESSING     |
|5657             |1374710400000|9       |PENDING_PAYMENT|
|5648             |1374710400000|10      |PENDING_PAYMENT|
|918              |1374710400000|11      |PAYMENT_REVIEW |
|1837             |1374710400000|12      |CLOSED         |
|9149             |1374710400000|13      |PENDING_PAYMENT|
|9842             |1374710400000|14      |PROCESSING     |
|2568             |1374710400000|15      |COMPLETE       |
|7276             |1374710400000|16      |PENDING_PAYMENT|
|2667             |1374710400000|17      |COMPLETE       |
|1205             |1374710400000|18      |CLOSED         |
|9488             |1374710400000|19      |PENDING_PAYMENT|
|9198             |1374710400000|20      |PROCESSING     |
+-----------------+-------------+--------+---------------+
only showing top 20 rows

In [8]:
spark.sql("select * from retail_db.order_items_avro").show(truncate=False)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|1            |1                  |957                  |299.98                  |1                  |299.98             |
|2            |2                  |1073                 |199.99                  |1                  |199.99             |
|3            |2                  |502                  |50.0                    |5                  |250.0              |
|4            |2                  |403                  |129.99                  |1                  |129.99             |
|5            |4                  |897                  |24.99                   |2                  |49.98              |
|6            |4                  |365                  |59.99                   |5                  |299.95             |
|7            |4                  |502                  |50.0                    |3                  |150.0              |
|8            |4                  |1014                 |49.98                   |4                  |199.92             |
|9            |5                  |957                  |299.98                  |1                  |299.98             |
|10           |5                  |365                  |59.99                   |5                  |299.95             |
|11           |5                  |1014                 |49.98                   |2                  |99.96              |
|12           |5                  |957                  |299.98                  |1                  |299.98             |
|13           |5                  |403                  |129.99                  |1                  |129.99             |
|14           |7                  |1073                 |199.99                  |1                  |199.99             |
|15           |7                  |957                  |299.98                  |1                  |299.98             |
|16           |7                  |926                  |15.99                   |5                  |79.95              |
|17           |8                  |365                  |59.99                   |3                  |179.97             |
|18           |8                  |365                  |59.99                   |5                  |299.95             |
|19           |8                  |1014                 |49.98                   |4                  |199.92             |
|20           |8                  |502                  |50.0                    |1                  |50.0               |
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [9]:
spark.sql("select * from retail_db.products_avro").show(truncate=False)

+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
|product_category_id|product_description|product_id|product_image                                                                                   |product_name                                 |product_price|
+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
|2                  |                   |1         |http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy           |Quest Q64 10 FT. x 10 FT. Slant Leg Instant U|59.98        |
|2                  |                   |2         |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |3         |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |4         |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |5         |http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet           |Riddell Youth Revolution Speed Custom Footbal|199.99       |
|2                  |                   |6         |http://images.acmesports.sports/Jordan+Men%27s+VI+Retro+TD+Football+Cleat                       |Jordan Men's VI Retro TD Football Cleat      |134.99       |
|2                  |                   |7         |http://images.acmesports.sports/Schutt+Youth+Recruit+Hybrid+Custom+Football+Helmet+2014         |Schutt Youth Recruit Hybrid Custom Football H|99.99        |
|2                  |                   |8         |http://images.acmesports.sports/Nike+Men%27s+Vapor+Carbon+Elite+TD+Football+Cleat               |Nike Men's Vapor Carbon Elite TD Football Cle|129.99       |
|2                  |                   |9         |http://images.acmesports.sports/Nike+Adult+Vapor+Jet+3.0+Receiver+Gloves                        |Nike Adult Vapor Jet 3.0 Receiver Gloves     |50.0         |
|2                  |                   |10        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |11        |http://images.acmesports.sports/Fitness+Gear+300+lb+Olympic+Weight+Set                          |Fitness Gear 300 lb Olympic Weight Set       |209.99       |
|2                  |                   |12        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Alter+Ego+Flash+Football...   |Under Armour Men's Highlight MC Alter Ego Fla|139.99       |
|2                  |                   |13        |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |14        |http://images.acmesports.sports/Quik+Shade+Summit+SX170+10+FT.+x+10+FT.+Canopy                  |Quik Shade Summit SX170 10 FT. x 10 FT. Canop|199.99       |
|2                  |                   |15        |http://images.acmesports.sports/Under+Armour+Kids%27+Highlight+RM+Alter+Ego+Superman+Football...|Under Armour Kids' Highlight RM Alter Ego Sup|59.99        |
|2                  |                   |16        |http://images.acmesports.sports/Riddell+Youth+360+Custom+Football+Helmet                        |Riddell Youth 360 Custom Football Helmet     |299.99       |
|2                  |                   |17        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |18        |http://images.acmesports.sports/Reebok+Men%27s+Full+Zip+Training+Jacket                         |Reebok Men's Full Zip Training Jacket        |29.97        |
|2                  |                   |19        |http://images.acmesports.sports/Nike+Men%27s+Fingertrap+Max+Training+Shoe                       |Nike Men's Fingertrap Max Training Shoe      |124.99       |
|2                  |                   |20        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
only showing top 20 rows

### Enunciado 1
Mostrar un Top 20 de clientes que mas productos compraron con sus respectivos montos.

In [6]:
spark.sql("""SELECT
    customer_id, customer_fname, customer_lname, customer_email, sum(order_item_quantity) as quantity_item_total, sum(order_item_subtotal)as total
FROM
    retail_db.customers_avro as c
INNER JOIN
    retail_db.orders_avro as o
    ON c.customer_id = o.order_customer_id
INNER JOIN
    retail_db.order_items_avro as oi
    ON o.order_id = oi.order_item_order_id
WHERE order_status <> 'CANCELED'
GROUP BY customer_id, customer_fname, customer_lname, customer_email
ORDER BY  total DESC
LIMIT 20""").show()

+-----------+--------------+--------------+--------------+-------------------+------------------+
|customer_id|customer_fname|customer_lname|customer_email|quantity_item_total|             total|
+-----------+--------------+--------------+--------------+-------------------+------------------+
|        791|          Mary|         Smith|     XXXXXXXXX|                 82|10524.170177459717|
|       8766|          Mary|        Duncan|     XXXXXXXXX|                 87| 9296.140186309814|
|       1657|         Betty|      Phillips|     XXXXXXXXX|                111| 9223.710151672363|
|       2641|         Betty|        Spears|     XXXXXXXXX|                 90| 9130.920223236084|
|       1288|        Evelyn|      Thompson|     XXXXXXXXX|                 89|  9019.11019897461|
|       3710|        Ashley|         Smith|     XXXXXXXXX|                 89|  9019.10020828247|
|       5654|         Jerry|         Smith|     XXXXXXXXX|                103| 8904.950210571289|
|       5624|          Mary|          Mata|     XXXXXXXXX|                 89| 8761.980182647705|
|       5715|         Kelly|         Smith|     XXXXXXXXX|                 99| 8595.130157470703|
|        664|         Bobby|       Jimenez|     XXXXXXXXX|                 76| 8394.260208129883|
|       9371|          Mary|     Patterson|     XXXXXXXXX|                 79| 8359.140188217163|
|      10351|        Teresa|          Gray|     XXXXXXXXX|                 69| 8339.260166168213|
|       2292|        Ashley|         Smith|     XXXXXXXXX|                 91|  8293.04016494751|
|       4663|          Paul|         Smith|     XXXXXXXXX|                 91| 8279.890161514282|
|       3708|          Judy|        Miller|     XXXXXXXXX|                 82|  8275.09017944336|
|       4249|          Mary|        Butler|     XXXXXXXXX|                 87| 8268.980131149292|
|      12284|          Mary|         Smith|     XXXXXXXXX|                110| 8258.620170593262|
|       5927|   Christopher|        Cooper|     XXXXXXXXX|                 82| 8169.130199432373|
|       5004|       Dorothy|      Friedman|     XXXXXXXXX|                114| 8164.700141906738|
|       1443|        Denise|         Cohen|     XXXXXXXXX|                 86| 8150.130157470703|
+-----------+--------------+--------------+--------------+-------------------+------------------+

### Enunciado 2
Mostrar las categorías con el total de productos vendidos y los montos totales por categoría

In [7]:
spark.sql("""SELECT
    ca.category_name, sum(order_item_quantity) as item_quantity, cast(sum(order_item_subtotal) AS INT )as total
FROM retail_db.order_items_avro as oi
INNER JOIN
    retail_db.products_avro as p
    ON oi.order_item_product_id = p.product_id
INNER JOIN
    retail_db.categories_avro as ca
    ON p.product_category_id = ca.category_id
GROUP BY ca.category_name;
""").show()

+-------------------+-------------+-------+
|      category_name|item_quantity|  total|
+-------------------+-------------+-------+
|   Camping & Hiking|        13729|4118425|
|Fitness Accessories|          856|  35601|
|         Golf Shoes|         1444| 107998|
|     Men's Footwear|        22246|2891757|
|        Electronics|         9436| 371034|
|    Women's Apparel|        62956|3147800|
|     Girls' Apparel|         3615| 151706|
|       Boxing & MMA|         1265|  85205|
|Baseball & Softball|         1785|  94057|
| Hunting & Shooting|         1239|  56848|
|       Golf Apparel|         1025|  34969|
|           Trade-In|         2822|  68721|
|      Shop By Sport|        32726|1309522|
|            Fishing|        17325|6929653|
|       Water Sports|        15540|3113844|
|        Accessories|         5349| 133671|
|        Golf Gloves|         2961| 116695|
|             Cleats|        73734|4431942|
|         Golf Balls|         4384|  77098|
|             Hockey|         1711|  48360|
+-------------------+-------------+-------+
only showing top 20 rows

### Enunciado 3
Mostrar la categoría más vendida por ciudad

In [8]:
spark.sql("""
SELECT
    customer_city, category_name
FROM (SELECT
    customer_city, category_name, count(category_name) as quantity, DENSE_RANK () OVER ( 
                PARTITION BY customer_city 
                ORDER BY count(category_name) DESC
            ) rank
    FROM
        retail_db.customers_avro as c
    INNER JOIN
        retail_db.orders_avro as o
        ON c.customer_id = o.order_customer_id
    INNER JOIN
        retail_db.order_items_avro as oi
        ON o.order_id = oi.order_item_order_id
    INNER JOIN
        retail_db.products_avro as p
        ON oi.order_item_product_id = p.product_id
    INNER JOIN
        retail_db.categories_avro as ca
        ON p.product_category_id = ca.category_id
    GROUP BY customer_city, category_name
    ) t
WHERE rank = 1;""").show()

+-----------------+--------------------+
|    customer_city|       category_name|
+-----------------+--------------------+
|        Aguadilla|              Cleats|
|          Alameda|              Cleats|
|           Albany|     Women's Apparel|
|      Albuquerque|              Cleats|
|        Algonquin|              Cleats|
|         Alhambra|     Women's Apparel|
|        Allentown|              Cleats|
|       Alpharetta|      Men's Footwear|
|         Amarillo|              Cleats|
|         Amarillo|Indoor/Outdoor Games|
|          Anaheim|     Women's Apparel|
|        Ann Arbor|     Women's Apparel|
|        Annandale|      Men's Footwear|
|        Annapolis|      Men's Footwear|
|          Antioch|Indoor/Outdoor Games|
|             Apex|              Cleats|
|           Apopka|             Fishing|
|          Arecibo|     Women's Apparel|
|        Arlington|     Women's Apparel|
|Arlington Heights|     Women's Apparel|
+-----------------+--------------------+
only showing top 20 rows

### Enunciado 4
Mostrar los 5 productos más vendidos por cada ciudad y el monto recaudado

In [13]:
spark.sql("""
SELECT
    customer_city, product_name, quantity, total
FROM (SELECT
    customer_city, product_name,sum(order_item_quantity) as quantity,sum(order_item_subtotal) as total, DENSE_RANK () OVER ( 
                PARTITION BY customer_city 
                ORDER BY sum(order_item_quantity) DESC
            ) rank
    FROM
        retail_db.customers_avro as c
    INNER JOIN
        retail_db.orders_avro as o
        ON c.customer_id = o.order_customer_id
    INNER JOIN
        retail_db.order_items_avro as oi
        ON o.order_id = oi.order_item_order_id
    INNER JOIN
        retail_db.products_avro as p
        ON oi.order_item_product_id = p.product_id
    GROUP BY customer_city, product_name
    ) t
WHERE rank < 6
ORDER BY quantity DESC;
""").show()

+-------------+--------------------+--------+------------------+
|customer_city|        product_name|quantity|             total|
+-------------+--------------------+--------+------------------+
|       Caguas|Perfect Fitness P...|   27276|1636287.2855148315|
|       Caguas|Nike Men's Dri-FI...|   23355|         1167750.0|
|       Caguas|O'Brien Men's Neo...|   21590|1079068.1897773743|
|       Caguas|Nike Men's Free 5...|   13530|1352864.6990203857|
|       Caguas|Under Armour Girl...|   11713| 468402.8778114319|
|      Chicago|Perfect Fitness P...|    1540| 92384.60255813599|
|  Los Angeles|Perfect Fitness P...|    1423| 85365.77238464355|
|      Chicago|Nike Men's Dri-FI...|    1391|           69550.0|
|      Chicago|O'Brien Men's Neo...|    1278| 63874.43938827515|
|     Brooklyn|Perfect Fitness P...|    1251| 75047.49206924438|
|     Brooklyn|Nike Men's Dri-FI...|    1237|           61850.0|
|  Los Angeles|Nike Men's Dri-FI...|    1194|           59700.0|
|     Brooklyn|O'Brien Men's Neo...|    1185|59226.299503326416|
|  Los Angeles|O'Brien Men's Neo...|    1120|55977.599559783936|
|      Chicago|Nike Men's Free 5...|     789| 78892.11010742188|
|  Los Angeles|Nike Men's Free 5...|     737|  73692.6298751831|
|     Brooklyn|Nike Men's Free 5...|     721| 72092.78977966309|
|     New York|Perfect Fitness P...|     719| 43132.81119918823|
|        Bronx|Perfect Fitness P...|     688| 41273.12115097046|
|     New York|Nike Men's Dri-FI...|     661|           33050.0|
+-------------+--------------------+--------+------------------+
only showing top 20 rows