In [1]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.0 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.7
  Downloading py4j-0.10.9.7-py2.py3-none-any.whl (200 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 200.5/200.5 kB 9.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488509 sha256=8dbf767a5e943a2e2aece847f01ae043462d9769525740eeb656da35be25f30c
  Stored in directory: /root/.cache/pip/wheels/92/09/11/aa01d01a7f005fda8a66ad71d2be7f8aa341bddafb27eee3c7
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.7 pyspark-3.5.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [2]:

from pyspark.sql.types import *
from pyspark.sql.window import Window

import pyspark.sql.functions as F
from pyspark.sql.functions import udf, col

In [6]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .config("hive.metastore.uris", "thrift://172.27.1.8:9083")\
      .config("spark.sql.warehouse.dir", "/user/hive/warehouse")\
      .enableHiveSupport() \
      .getOrCreate()

24/05/02 20:57:04 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [7]:
spark.sql("select * from retail_db.orders_avro").show(truncate=False)

+-----------------+-------------+--------+---------------+
|order_customer_id|order_date   |order_id|order_status   |
+-----------------+-------------+--------+---------------+
|11599            |1374710400000|1       |CLOSED         |
|256              |1374710400000|2       |PENDING_PAYMENT|
|12111            |1374710400000|3       |COMPLETE       |
|8827             |1374710400000|4       |CLOSED         |
|11318            |1374710400000|5       |COMPLETE       |
|7130             |1374710400000|6       |COMPLETE       |
|4530             |1374710400000|7       |COMPLETE       |
|2911             |1374710400000|8       |PROCESSING     |
|5657             |1374710400000|9       |PENDING_PAYMENT|
|5648             |1374710400000|10      |PENDING_PAYMENT|
|918              |1374710400000|11      |PAYMENT_REVIEW |
|1837             |1374710400000|12      |CLOSED         |
|9149             |1374710400000|13      |PENDING_PAYMENT|
|9842             |1374710400000|14      |PROCESSING     |
|2568             |1374710400000|15      |COMPLETE       |
|7276             |1374710400000|16      |PENDING_PAYMENT|
|2667             |1374710400000|17      |COMPLETE       |
|1205             |1374710400000|18      |CLOSED         |
|9488             |1374710400000|19      |PENDING_PAYMENT|
|9198             |1374710400000|20      |PROCESSING     |
+-----------------+-------------+--------+---------------+
only showing top 20 rows

In [13]:
spark.sql("select * from retail_db.customers_avro").show(truncate=False)

+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
|customer_city|customer_email|customer_fname|customer_id|customer_lname|customer_password|customer_state|customer_street            |customer_zipcode|
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
|Brownsville  |XXXXXXXXX     |Richard       |1          |Hernandez     |XXXXXXXXX        |TX            |6303 Heather Plaza         |78521           |
|Littleton    |XXXXXXXXX     |Mary          |2          |Barrett       |XXXXXXXXX        |CO            |9526 Noble Embers Ridge    |80126           |
|Caguas       |XXXXXXXXX     |Ann           |3          |Smith         |XXXXXXXXX        |PR            |3422 Blue Pioneer Bend     |00725           |
|San Marcos   |XXXXXXXXX     |Mary          |4          |Jones         |XXXXXXXXX        |CA            |8324 Little Common         |92069           |
|Caguas       |XXXXXXXXX     |Robert        |5          |Hudson        |XXXXXXXXX        |PR            |10 Crystal River Mall      |00725           |
|Passaic      |XXXXXXXXX     |Mary          |6          |Smith         |XXXXXXXXX        |NJ            |3151 Sleepy Quail Promenade|07055           |
|Caguas       |XXXXXXXXX     |Melissa       |7          |Wilcox        |XXXXXXXXX        |PR            |9453 High Concession       |00725           |
|Lawrence     |XXXXXXXXX     |Megan         |8          |Smith         |XXXXXXXXX        |MA            |3047 Foggy Forest Plaza    |01841           |
|Caguas       |XXXXXXXXX     |Mary          |9          |Perez         |XXXXXXXXX        |PR            |3616 Quaking Street        |00725           |
|Stafford     |XXXXXXXXX     |Melissa       |10         |Smith         |XXXXXXXXX        |VA            |8598 Harvest Beacon Plaza  |22554           |
|Caguas       |XXXXXXXXX     |Mary          |11         |Huffman       |XXXXXXXXX        |PR            |3169 Stony Woods           |00725           |
|San Antonio  |XXXXXXXXX     |Christopher   |12         |Smith         |XXXXXXXXX        |TX            |5594 Jagged Embers By-pass |78227           |
|Caguas       |XXXXXXXXX     |Mary          |13         |Baldwin       |XXXXXXXXX        |PR            |7922 Iron Oak Gardens      |00725           |
|Pico Rivera  |XXXXXXXXX     |Katherine     |14         |Smith         |XXXXXXXXX        |CA            |5666 Hazy Pony Square      |90660           |
|Fontana      |XXXXXXXXX     |Jane          |15         |Luna          |XXXXXXXXX        |CA            |673 Burning Glen           |92336           |
|Caguas       |XXXXXXXXX     |Tiffany       |16         |Smith         |XXXXXXXXX        |PR            |6651 Iron Port             |00725           |
|Taylor       |XXXXXXXXX     |Mary          |17         |Robinson      |XXXXXXXXX        |MI            |1325 Noble Pike            |48180           |
|Martinez     |XXXXXXXXX     |Robert        |18         |Smith         |XXXXXXXXX        |CA            |2734 Hazy Butterfly Circle |94553           |
|Caguas       |XXXXXXXXX     |Stephanie     |19         |Mitchell      |XXXXXXXXX        |PR            |3543 Red Treasure Bay      |00725           |
|West New York|XXXXXXXXX     |Mary          |20         |Ellis         |XXXXXXXXX        |NJ            |4703 Old Route             |07093           |
+-------------+--------------+--------------+-----------+--------------+-----------------+--------------+---------------------------+----------------+
only showing top 20 rows

In [14]:
spark.sql("select * from retail_db.departments_avro").show(truncate=False)

+-------------+---------------+
|department_id|department_name|
+-------------+---------------+
|2            |Fitness        |
|3            |Footwear       |
|4            |Apparel        |
|5            |Golf           |
|6            |Outdoors       |
|7            |Fan Shop       |
+-------------+---------------+

In [16]:
spark.sql("select * from retail_db.orders_avro").show(truncate=False)

+-----------------+-------------+--------+---------------+
|order_customer_id|order_date   |order_id|order_status   |
+-----------------+-------------+--------+---------------+
|11599            |1374710400000|1       |CLOSED         |
|256              |1374710400000|2       |PENDING_PAYMENT|
|12111            |1374710400000|3       |COMPLETE       |
|8827             |1374710400000|4       |CLOSED         |
|11318            |1374710400000|5       |COMPLETE       |
|7130             |1374710400000|6       |COMPLETE       |
|4530             |1374710400000|7       |COMPLETE       |
|2911             |1374710400000|8       |PROCESSING     |
|5657             |1374710400000|9       |PENDING_PAYMENT|
|5648             |1374710400000|10      |PENDING_PAYMENT|
|918              |1374710400000|11      |PAYMENT_REVIEW |
|1837             |1374710400000|12      |CLOSED         |
|9149             |1374710400000|13      |PENDING_PAYMENT|
|9842             |1374710400000|14      |PROCESSING     |
|2568             |1374710400000|15      |COMPLETE       |
|7276             |1374710400000|16      |PENDING_PAYMENT|
|2667             |1374710400000|17      |COMPLETE       |
|1205             |1374710400000|18      |CLOSED         |
|9488             |1374710400000|19      |PENDING_PAYMENT|
|9198             |1374710400000|20      |PROCESSING     |
+-----------------+-------------+--------+---------------+
only showing top 20 rows

In [18]:
spark.sql("select * from retail_db.order_items_avro").show(truncate=False)

+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_product_price|order_item_quantity|order_item_subtotal|
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
|1            |1                  |957                  |299.98                  |1                  |299.98             |
|2            |2                  |1073                 |199.99                  |1                  |199.99             |
|3            |2                  |502                  |50.0                    |5                  |250.0              |
|4            |2                  |403                  |129.99                  |1                  |129.99             |
|5            |4                  |897                  |24.99                   |2                  |49.98              |
|6            |4                  |365                  |59.99                   |5                  |299.95             |
|7            |4                  |502                  |50.0                    |3                  |150.0              |
|8            |4                  |1014                 |49.98                   |4                  |199.92             |
|9            |5                  |957                  |299.98                  |1                  |299.98             |
|10           |5                  |365                  |59.99                   |5                  |299.95             |
|11           |5                  |1014                 |49.98                   |2                  |99.96              |
|12           |5                  |957                  |299.98                  |1                  |299.98             |
|13           |5                  |403                  |129.99                  |1                  |129.99             |
|14           |7                  |1073                 |199.99                  |1                  |199.99             |
|15           |7                  |957                  |299.98                  |1                  |299.98             |
|16           |7                  |926                  |15.99                   |5                  |79.95              |
|17           |8                  |365                  |59.99                   |3                  |179.97             |
|18           |8                  |365                  |59.99                   |5                  |299.95             |
|19           |8                  |1014                 |49.98                   |4                  |199.92             |
|20           |8                  |502                  |50.0                    |1                  |50.0               |
+-------------+-------------------+---------------------+------------------------+-------------------+-------------------+
only showing top 20 rows

In [19]:
spark.sql("select * from retail_db.products_avro").show(truncate=False)

+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
|product_category_id|product_description|product_id|product_image                                                                                   |product_name                                 |product_price|
+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
|2                  |                   |1         |http://images.acmesports.sports/Quest+Q64+10+FT.+x+10+FT.+Slant+Leg+Instant+Up+Canopy           |Quest Q64 10 FT. x 10 FT. Slant Leg Instant U|59.98        |
|2                  |                   |2         |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |3         |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |4         |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |5         |http://images.acmesports.sports/Riddell+Youth+Revolution+Speed+Custom+Football+Helmet           |Riddell Youth Revolution Speed Custom Footbal|199.99       |
|2                  |                   |6         |http://images.acmesports.sports/Jordan+Men%27s+VI+Retro+TD+Football+Cleat                       |Jordan Men's VI Retro TD Football Cleat      |134.99       |
|2                  |                   |7         |http://images.acmesports.sports/Schutt+Youth+Recruit+Hybrid+Custom+Football+Helmet+2014         |Schutt Youth Recruit Hybrid Custom Football H|99.99        |
|2                  |                   |8         |http://images.acmesports.sports/Nike+Men%27s+Vapor+Carbon+Elite+TD+Football+Cleat               |Nike Men's Vapor Carbon Elite TD Football Cle|129.99       |
|2                  |                   |9         |http://images.acmesports.sports/Nike+Adult+Vapor+Jet+3.0+Receiver+Gloves                        |Nike Adult Vapor Jet 3.0 Receiver Gloves     |50.0         |
|2                  |                   |10        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |11        |http://images.acmesports.sports/Fitness+Gear+300+lb+Olympic+Weight+Set                          |Fitness Gear 300 lb Olympic Weight Set       |209.99       |
|2                  |                   |12        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Alter+Ego+Flash+Football...   |Under Armour Men's Highlight MC Alter Ego Fla|139.99       |
|2                  |                   |13        |http://images.acmesports.sports/Under+Armour+Men%27s+Renegade+D+Mid+Football+Cleat              |Under Armour Men's Renegade D Mid Football Cl|89.99        |
|2                  |                   |14        |http://images.acmesports.sports/Quik+Shade+Summit+SX170+10+FT.+x+10+FT.+Canopy                  |Quik Shade Summit SX170 10 FT. x 10 FT. Canop|199.99       |
|2                  |                   |15        |http://images.acmesports.sports/Under+Armour+Kids%27+Highlight+RM+Alter+Ego+Superman+Football...|Under Armour Kids' Highlight RM Alter Ego Sup|59.99        |
|2                  |                   |16        |http://images.acmesports.sports/Riddell+Youth+360+Custom+Football+Helmet                        |Riddell Youth 360 Custom Football Helmet     |299.99       |
|2                  |                   |17        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
|2                  |                   |18        |http://images.acmesports.sports/Reebok+Men%27s+Full+Zip+Training+Jacket                         |Reebok Men's Full Zip Training Jacket        |29.97        |
|2                  |                   |19        |http://images.acmesports.sports/Nike+Men%27s+Fingertrap+Max+Training+Shoe                       |Nike Men's Fingertrap Max Training Shoe      |124.99       |
|2                  |                   |20        |http://images.acmesports.sports/Under+Armour+Men%27s+Highlight+MC+Football+Cleat                |Under Armour Men's Highlight MC Football Clea|129.99       |
+-------------------+-------------------+----------+------------------------------------------------------------------------------------------------+---------------------------------------------+-------------+
only showing top 20 rows

### Enunciado 1
Mostrar un Top 20 de clientes que mas productos compraron con sus respectivos montos.

In [ ]:
spark.sql("""SELECT
    customer_id, customer_fname, customer_lname, customer_email, sum(order_item_quantity) as quantity_item_total, sum(order_item_subtotal)as total
FROM
    retail_db.customers as c
INNER JOIN
    retail_db.orders as o
    ON c.customer_id = o.order_customer_id
INNER JOIN
    retail_db.order_items as oi
    ON o.order_id = oi.order_item_order_id
WHERE order_status <> 'CANCELED'
GROUP BY customer_id, customer_fname, customer_lname, customer_email
ORDER BY  total DESC
LIMIT 20""").show()

### Enunciado 2
Mostrar las categorías con el total de productos vendidos y los montos totales por categoría

In [ ]:
spark.sql("""SELECT
    ca.category_name, sum(order_item_quantity) as item_quantity, cast(sum(order_item_subtotal) AS INT )as total
FROM retail_db.order_items as oi
INNER JOIN
    retail_db.products as p
    ON oi.order_item_product_id = p.product_id
INNER JOIN
    retail_db.categories as ca
    ON p.product_category_id = ca.category_id
GROUP BY ca.category_name;
""").show()

### Enunciado 3
Mostrar la categoría más vendida por ciudad

In [ ]:
spark.sql("""
SELECT
    customer_city, category_name
FROM (SELECT
    customer_city, category_name, count(category_name) as quantity, DENSE_RANK () OVER ( 
                PARTITION BY customer_city 
                ORDER BY count(category_name) DESC
            ) rank
    FROM
        retail_db.customers as c
    INNER JOIN
        retail_db.orders as o
        ON c.customer_id = o.order_customer_id
    INNER JOIN
        retail_db.order_items as oi
        ON o.order_id = oi.order_item_order_id
    INNER JOIN
        retail_db.products as p
        ON oi.order_item_product_id = p.product_id
    INNER JOIN
        retail_db.categories as ca
        ON p.product_category_id = ca.category_id
    GROUP BY customer_city, category_name
    ) t
WHERE rank = 1;""").show()

### Enunciado 4
Mostrar los 5 productos más vendidos por cada ciudad y el monto recaudado

In [ ]:
spark.sql("""
SELECT
    customer_city, product_name, quantity, total
FROM (SELECT
    customer_city, product_name,sum(order_item_quantity) as quantity,sum(order_item_subtotal) as total, DENSE_RANK () OVER ( 
                PARTITION BY customer_city 
                ORDER BY sum(order_item_quantity) DESC
            ) rank
    FROM
        retail_db.customers as c
    INNER JOIN
        retail_db.orders as o
        ON c.customer_id = o.order_customer_id
    INNER JOIN
        retail_db.order_items as oi
        ON o.order_id = oi.order_item_order_id
    INNER JOIN
        retail_db.products as p
        ON oi.order_item_product_id = p.product_id
    GROUP BY customer_city, product_name
    ) t
WHERE rank < 6
ORDER BY quantity DESC;
""").show()